* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

body,
html {
    width: 100vw;
    height: 100vh;
}

.h2 {
    font-size: 14px;
    font-weight: bold;
}

.box-shadow {
    -webkit-box-shadow: 4px -1px 16px -1px #000000;
    box-shadow: 4px -1px 16px -1px #000000;
}

.main-container-grid {
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
    height: 100%;
    grid-row-gap: 1em;
}

.r1,
.r3 {
    display: grid;
    background-color: #9BC1BC;
    padding: 1em;
    align-items: center;
}

.r3 {
    text-align: center;
    color: #F4F1BB;
}

.r2 {
    height: 100%;
}

.three-column {
    display: grid;
    grid-template-columns: 2fr 8fr 3fr;
    grid-column-gap: 1em;
}

.c1 {
    min-width: 200px;
}

.c1,
.c3 {
    background-color: #F4F1BB;
}

.txt-center {
    text-align: center;
    margin: 15px auto 0px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

.left-nav {
    list-style-type: none;
}

.left-nav>li>a {
    display: block;
    padding: 15px 0px 15px 30px;
    background-color: #F4F1BB;
    font-weight: bold;
    padding-left: 30px;
    text-decoration: none;
    transition-duration: 0.7s;
}

.left-nav>li>a:hover {
    background-color: #E6EBE0;
}

.h2-content {
    grid-column: 1 / 5;
    height: 22px;
    width: 150px;
}

.c2>img {
    width: 100%;
    align-self: center;
    max-height: 130px;
}

.grid-button {
    padding: 6px 12px;
    background-color: #F4F1BB;
    float: right;
}

.gallery-table {
    display: table;
    width: 100%;
}

.gallery-table thead {
    font-size: 16px;
    font-weight: bold;
    background-color: #F4F1BB;
}

.gallery-table td {
    border: 1px solid #000000;
}

.gallery-table>tbody>tr>td>img {
    max-width: 150px;
}

.buy-now {
    padding: 7px 16px;
    background-color: #ccc;
    float: right;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    transition-duration: .5s;
}

.buy-now:hover {
    background-color: #9BC1BC;
}

.logo {
    width: 100px;
}